.app-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .active {
        color: rgb(255, 221, 169);
    }
    .nav-link {
        position: relative;
        margin-right: 10px;
        padding: 7px;
        border-radius: 4px;
        padding-bottom: 5px;
        text-align: center;
        &:hover {
            color: rgb(255, 221, 169);
            background-color: rgba(0, 0, 0, 0.171);
        }
    }
}

@media (max-width: 500px) {
    .app-header {
        flex-direction: column;
        > :first-child {
            margin-bottom: 10px;
        }
    }
}
