.app-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active {
        color: rgb(255, 221, 169);
    }
    .nav-link {
        position: relative;
        margin-right: 10px;
        padding: 7px;
        border-radius: 4px;
        padding-bottom: 5px;
        text-align: center;
        &:hover {
            color: rgb(255, 221, 169);
            background-color: rgba(0, 0, 0, 0.171);
        }
    }
    .toggle-mode-btn{
        cursor: pointer;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 3px;
        &:hover{
            background-color: rgba(197, 197, 197, 0.541);
        }
    }
}

@media (max-width: 500px) {
    .app-header {
        flex-direction: column;
        > :first-child {
            margin-bottom: 10px;
        }
    }
}
