.list-mode-for-list {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.grid-mode-for-list {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

@media (max-width: 500px) {
    .grid-mode-for-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 150px);
        justify-content: space-around;
        gap: 15px;
    }
}
