.search-bar {
    input {
        padding: 15px;
        font-size: 18px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.116);
    }
    button {
        background-color: rgba(0, 0, 0, 0.377);
        padding: 15px;
        border-radius: 5px;
        font-size: 18px;
        border: none;
        margin-left: 5px;
    }
}
